<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="VisitorSettings" type="FrequencyPageVisitor.Settings.VisitorSettings, FrequencyPageVisitor"/>
  </configSections>
  <startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <VisitorSettings 
    DelayInSeconds="0"
    WriteLogs="true"
    >
    
    <!-- Вот так можно писать комментарии -->
    <Queries>
      <add Query="страховые выплаты" Frequency="ВЧ" Group="страховая дтп/страховые выплаты/страховое возмещение"/>
      <add Query="страховое возмещение" Frequency="СЧ" />
      <add Query="страховая  сумма дтп" Frequency="СЧ" />
      <add Query="страховые выплаты +по осаго" Frequency="НЧ" />
      
      <add Query="страховое возмещение +по осаго" Frequency="НЧ" Group="выплаты по каско/возмещения по каско"/>
      <add Query="получить страховую выплату дтп" Frequency="НЧ" />
      <add Query="как получить страховые выплаты +по осаго" Frequency="НЧ" />
      <add Query="осаго сроки выплаты страхового возмещения" Frequency="НЧ" /> 
      
      <add Query="выплаты по каско" Frequency="НЧ" Group="выплаты по каско/возмещения по каско" />
      <add Query="возмещения по каско" Frequency="НЧ" />
      <add Query="страховые выплаты +по каско" Frequency="НЧ" />
      <add Query="взыскание страхового возмещения +по каско" Frequency="НЧ" />
      <add Query="занижение страховой выплаты каско" Frequency="НЧ" />
      <add Query="возмещение ущерба +по каско +при дтп" Frequency="НЧ" />
      
      <add Query="выплаты по осаго" Frequency="НЧ" Group="выплаты по осаго/возмещения по осаго"/>
      <add Query="возмещения по осаго" Frequency="НЧ" />
      <add Query="выплаты +по осаго +при дтп" Frequency="НЧ" />
      <add Query="выплаты страховых компаний +по осаго	          " Frequency="НЧ" />
      <add Query="возмещение ущерба +по осаго                     " Frequency="НЧ" />
      <add Query="страховая отказала +в выплате +по осаго         " Frequency="НЧ" />
      <add Query="возмещение страховое дтп осаго                  " Frequency="НЧ" />
      <add Query="дтп осаго                                       " Frequency="НЧ" />
      <add Query="ущерб дтп                                       " Frequency="НЧ" />
      <add Query="экспертиза дтп                                  " Frequency="НЧ" />
      <add Query="ущерб дтп осаго                                 " Frequency="НЧ" />
      <add Query="независимая экспертиза после дтп                " Frequency="НЧ" />
      <add Query="что делать после дтп +по осаго                  " Frequency="НЧ" />
      <add Query="экспертиза оценки ущерба дтп                    " Frequency="НЧ" />
      <add Query="автоюрист                                       " Frequency="НЧ" />
      <add Query="авто юрист                                      " Frequency="НЧ" />
      <add Query="автоадвокат                                     " Frequency="НЧ" />
      <add Query="адвокат авто                                    " Frequency="НЧ" />
      <add Query="услуги автоюриста                               " Frequency="НЧ" />
      <add Query="сколько стоит автоюрист                         " Frequency="НЧ" />
      <add Query="автоадвокат +по дтп                             " Frequency="НЧ" />
      <add Query="утс                                             " Frequency="НЧ" />
      <add Query="утс +по осаго                                   " Frequency="НЧ" />
      <add Query="утс +по каско                                   " Frequency="НЧ" />
      <add Query="расчет утс автомобиля                           " Frequency="НЧ" />
      <add Query="претензия страховую утс                         " Frequency="НЧ" />
      <add Query="автоэкспертиза                                  " Frequency="НЧ" />
      <add Query="экспертиза автомобиля                           " Frequency="НЧ" />
      <add Query="экспертиза авто                                 " Frequency="НЧ" />
      <add Query="независимая автоэкспертиза                      " Frequency="НЧ" />
      <add Query="экспертиза автомобиля после дтп                 " Frequency="НЧ" />
      <add Query="автоэкспертиза после дтп                        " Frequency="НЧ" />
      <add Query="проведение независимой экспертизы автомобиля после дтп" Frequency="НЧ" />
      <add Query="автоэвакуатор                                      " Frequency="НЧ" />
      <add Query="аварийный комиссар                                 " Frequency="НЧ" />
      <add Query="служба эвакуации                                   " Frequency="НЧ" />
      <add Query="дорожный комиссар                                  " Frequency="НЧ" />
      <add Query="дтп аварийный комиссар                             " Frequency="НЧ" />
      <add Query="оформление дтп через аварийного комиссара          " Frequency="НЧ" />
      <add Query="вызвать дорожных комиссаров                        " Frequency="НЧ" />
    </Queries>
  </VisitorSettings>
</configuration>
