<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="VisitorSettings" type="PageVisitor.Settings.VisitorSettings, PageVisitor"/>
  </configSections>
  <startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
<!--
Настройки ниже.
Описание параметров

Request - вписываем запрос в yandex
OurSite - наш сайт. Ищется предложение от этого сайта

Words - ключевые слова для поиска в объявлении. Можно задать несколько, разделив знаком |
 Пример :  
  Words="Volkswagen Polo|Фольксваген Поло|Новогодняя акция|Кепка в подарок" 

-->

  <VisitorSettings 
    DelayInSeconds="0"
    WriteLogs="true"
    >
    <Запросы>
      <add Запрос="Купить поло" Частотность="ВЧ" />
      <add Запрос="страховая дтп" Частотность="ВЧ" />
      <add Запрос="страховые выплаты" Частотность="ВЧ" />
      <add Запрос="страховое возмещение" Частотность="СЧ" />
      <add Запрос="страховая  сумма дтп" Частотность="СЧ" />
      <add Запрос="страховые выплаты +по осаго" Частотность="НЧ" />
      <add Запрос="страховое возмещение +по осаго" Частотность="НЧ" />
      <add Запрос="получить страховую выплату дтп" Частотность="НЧ" />
      <add Запрос="как получить страховые выплаты +по осаго" Частотность="НЧ" />
      <add Запрос="осаго сроки выплаты страхового возмещения" Частотность="НЧ" />
    </Запросы>
  </VisitorSettings>
</configuration>
