<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="VisitorSettings" type="FrequencyPageVisitor.Settings.VisitorSettings, FrequencyPageVisitor"/>
  </configSections>
  <startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <VisitorSettings 
    DelayInSeconds="0"
    WriteLogs="true"
    >
    <Queries>
      
      <add Query="страховые выплаты" Frequency="ВЧ" />
      <add Query="страховое возмещение" Frequency="СЧ" />
       <add Query="страховая  сумма дтп" Frequency="СЧ" />
      <add Query="страховые выплаты +по осаго" Frequency="НЧ" />
      <add Query="страховое возмещение +по осаго" Frequency="НЧ" />
      <add Query="получить страховую выплату дтп" Frequency="НЧ" />
      <add Query="как получить страховые выплаты +по осаго" Frequency="НЧ" />
      <add Query="осаго сроки выплаты страхового возмещения" Frequency="НЧ" /> 
    </Queries>
  </VisitorSettings>
</configuration>
