<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="VisitorSettings" type="PageVisitor.Settings.VisitorSettings, PageVisitor"/>
  </configSections>

  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
<!--
Настройки ниже.
Описание параметров

Request - вписываем запрос в yandex
OurSite - наш сайт. Ищется предложение от этого сайта

Words - ключевые слова для поиска в объявлении. Можно задать несколько, разделив знаком |
 Пример :  
  Words="Volkswagen Polo|Фольксваген Поло|Новогодняя акция|Кепка в подарок" 

-->

  <VisitorSettings 
    OurSite="vw-nn.ru" 
    DelayInSeconds="5">
    <Queries>
      <add Query="Купить поло" Folder="Polo" />
      <add Query="Купить VW поло" Folder="Polo" />
      <add Query="Купить VW polo" Folder="Polo" />
      <add Query="Купить тигуан" Folder="Tiguan" />
      <add Query="Купить VW тигуан" Folder="Tiguan" />
      <add Query="Купить VW Tiguan" Folder="Tiguan" />
      
      <add Query="Кепка семечки Adibas" Folder="Adidas" />
      <add Query="Раз раз - водолаз" Folder="Adidas" />
    </Queries>
    
    
  </VisitorSettings>
</configuration>
